doctype html
html(lang='ru')
	include ../common/head.pug
	body
		.page
			include ../components/header.pug
			.content.inner-page
				.container
					ul.breadcrumbs
						li
							a(href="#") Главная
						li
							a(href="#") Доставка еды
						li
							a(href="#") Доставка пирогов
						li Все о пирогах
					.content-wrap.holder
						.cols-wrap.left-col
							.sidebar
								.sidebar-section.search-box
									form(action="#")
										fieldset
											.holder
												button.search
													svg
														use(xlink:href='#icons-26')
												input(type="text", placeholder="Название ресторана")
								.sidebar-section
									.sidebar-box
										strong.box-ttl.js-block-opener.opened Японская кухня
											svg
												use(xlink:href='#icons-18')
										.sidebar-info.js-opened-block.opened
											ul.menu-list
												li
													a(href="#") Пицца
												li
													a(href="#") Суши
												li
													a(href="#") Бурритос
												li
													a(href="#") Бургеры
												li
													a(href="#") Салаты
												li
													a(href="#") Первые блюда
												li
													a(href="#") Паста
												li
													a(href="#") Лапша
									.sidebar-box
										strong.box-ttl.js-block-opener Бургеры
											svg
												use(xlink:href='#icons-18')
										.sidebar-info.js-opened-block
											ul.menu-list
												li
													a(href="#") Пицца
												li
													a(href="#") Суши
												li
													a(href="#") Бурритос
									.sidebar-box
										strong.box-ttl.js-block-opener Салаты
											svg
												use(xlink:href='#icons-18')
										.sidebar-info.js-opened-block
											ul.menu-list
												li
													a(href="#") Пицца
												li
													a(href="#") Суши
												li
													a(href="#") Бурритос
									.sidebar-box
										strong.box-ttl.js-block-opener Обеды
											svg
												use(xlink:href='#icons-18')
										.sidebar-info.js-opened-block
											ul.menu-list
												li
													a(href="#") Пицца
												li
													a(href="#") Суши
												li
													a(href="#") Бурритос
							.aside
								img.content-banner(src="images/banner02.jpg")
								img.content-banner(src="images/banner03.jpg")
						.main-content
							.top-card
								.delivery-item
									.top-info.holder
										.item-logo
											img(src="images/logo07.jpg")
										strong.sub-ttl Все о пирогах
										ul.labels-list
											li
												a(href="#") Бургеры
											li
												a(href="#") Американская
										.rating-row
											ul.rating-list
												li.active
													svg
														use(xlink:href='#icons-05')
												li.active
													svg
														use(xlink:href='#icons-05')
												li.active
													svg
														use(xlink:href='#icons-05')
												li.active
													svg
														use(xlink:href='#icons-05')
												li.active
													svg
														use(xlink:href='#icons-05')
											span 2123 оценки
											ul.payment-list
												li.wallet
													svg
														use(xlink:href='#icons-03')
												li.mastercard
													svg
														use(xlink:href='#icons-01')
												li.visa
													svg
														use(xlink:href='#icons-02')
									.bottom-info
										.flex-container
											.cell
												span.cell-header Доставка
												strong.cell-value 300 &#x20bd;
											.cell
												span.cell-header Мин. заказ
												strong.cell-value -
											.cell
												span.cell-header Время доставки
												strong.cell-value 60 минут
											.cell
												span.cell-header Время работы
												strong.cell-value 10:00 — 23:00
									.nav-row.flex-container
										ul.nav-menu
											li
												a.active(href="#") Меню
											li
												a(href="#") О ресторане
											li
												a(href="#") Акции
												span 2
											li
												a(href="#") Отзывы
												span 7
										.soc-widget
											img(src="images/soc-widget.png")
							.feedback-item.holder
								.user-side.holder
									.user-photo
										img(src="images/default-photo.png")
									.user-info
										span.name Алена
										span.date 23 октября
										span.time в 17:34
								.feedback-body
									.feedback-header
										span.mark.like
											img(src="images/icons-07.svg" alt="")
										strong.sub-ttl Супер!
										ul.rating-list
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
									.feedback-comment
										p Заказала вчера в папас бургер, доставку привезли, как и указали, но!!! Еда была испорчена! Причём испорчена не в смысле помята, а именно испорчена. Начну с клаб сенвича: во-первых, он не с индейкой, как указано, во-вторых, я его даже есть не рискнула, потому что он вонял испорченным майонезом. Ощущение, что он недельной давности. Бургеры: вроде ничего, но тоже присутствует запах и привкус испорченной еды, какой-то кислый резкий запах.
										a.show-more.js-show-more(href="#") Показать полностью
							.feedback-item.holder
								.user-side.holder
									.user-photo
										img(src="images/default-photo.png")
									.user-info
										span.name Виктор Васильев
										span.date 7 октября
										span.time в 9:14
								.feedback-body
									.feedback-header
										span.mark.dislike
											img(src="images/icons-07.svg" alt="")
										strong.sub-ttl Большой гурман
										ul.rating-list
											li.active
												svg
													use(xlink:href='#icons-05')
											li
												svg
													use(xlink:href='#icons-05')
											li
												svg
													use(xlink:href='#icons-05')
											li
												svg
													use(xlink:href='#icons-05')
											li
												svg
													use(xlink:href='#icons-05')
									.feedback-comment
										p заказ не доставлен, деньги не вернули до сих пор! настоятельно не рекомендую этот ресторан для заказа.
											br
											| upd. деньги вернули
								.answer-block
									.answer-header
										span Ответ администрации «Все о пирогах»:
									p Евгений ! Очень жаль , что мы не оправдали ваши ожидания .Но то ,что пицца была абсолютно холодной мы категорически не согласны просто потому ,что мы выпекаем сразу после поступления заказа,и в худшем случае она могла быть теплой.
							.feedback-item.holder
								.user-side.holder
									.user-photo
											img(src="images/user-photo2.png")
											.soc-icon.fb
												span facebook
									.user-info
										span.name Алена
										span.date 23 октября
										span.time в 17:34
								.feedback-body
									.feedback-header
										span.mark.like
											img(src="images/icons-07.svg" alt="")
										strong.sub-ttl Очень вкусно!
										ul.rating-list
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
											li
												svg
													use(xlink:href='#icons-05')
									.feedback-comment
										p Я заказала пирог с вишней.Много сахара в ягодах. А так вкусно
							.feedback-item.holder
								.user-side.holder
									.user-photo
										img(src="images/default-photo.png")
									.user-info
										span.name Алена
										span.date 23 октября
										span.time в 17:34
								.feedback-body
									.feedback-header
										span.mark.like
											img(src="images/icons-07.svg" alt="")
										strong.sub-ttl Быстро!
										ul.rating-list
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
											li.active
												svg
													use(xlink:href='#icons-05')
									.feedback-comment
										p Очень быстро привезли осетинские пироги! Очень вкусные!
							.feedback-box.box
								h3 Оставить свой отзыв
								form(action="#")
									fieldset
										.flex-container
											input.l-side(type="text", placeholder="Краткий заголовок")
											.rating
												span Ваша оценка:
												ul.js-rating-bar
													li
														svg
															use(xlink:href='#icons-05')
													li
														svg
															use(xlink:href='#icons-05')
													li
														svg
															use(xlink:href='#icons-05')
													li
														svg
															use(xlink:href='#icons-05')
													li
														svg
															use(xlink:href='#icons-05')
											.r-side
												span Будете рекомендовать?
												select.js-select-style
													option.yes
														| Да
													option.no
														| Нет
										.comment
											textarea(placeholder="Опишите свои впечатления")
										.flex-container
											input(type="text", placeholder="Представьтесь пожалуйста")
											input(type="text", placeholder="Электронная почта (обязательно)")
											.r-side
												span Или через соц. сети
												ul.soc-links
													li
														a.fb(href="#") facebook
													li
														a.tw(href="#") twitter
													li
														a.vk(href="#") vk
										a.red-btn(href="#") Оставить отзыв
				include ../components/description-block.pug
			include ../components/footer.pug