doctype html
html(lang='ru')
	include ../common/head.pug
	body
		.page
			include ../components/header.pug
			.content.inner-page.none-sidebar
				.container
					ul.breadcrumbs
						li
							a(href="#") Главная
						li Акции
					.content-wrap.holder
						.main-content
							.cart-item.flex-container
								.product.holder
									.prod-pict
										a(href="#")
											img(src="images/img11.jpg")
									.prod-name
										a.sub-ttl(href="#") Калифорния
										span Суши Весла
								.prod-amount
									.number-plus-minus
										input(type="number", min="1", value="1")
										span.mark-amount шт
								.prod-price
									strong 459 &#x20bd;
								.delete-btn
									svg
										use(xlink:href='#icons-23')
							.cart-item.flex-container
								.product.holder
									.prod-pict
										a(href="#")
											img(src="images/img12.jpg")
									.prod-name
										a.sub-ttl(href="#") О рицу маки
										span Суши Весла
								.prod-amount
									.number-plus-minus
										input(type="number", min="1", value="1")
										span.mark-amount шт
								.prod-price
									strong 4590 &#x20bd;
								.delete-btn
									svg
										use(xlink:href='#icons-23')
							.cart-item.flex-container
								.product.holder
									.prod-pict
										a(href="#")
											img(src="images/img13.jpg")
									.prod-name
										a.sub-ttl(href="#") Чизбургер
										span Макдональдс
								.prod-amount
									.number-plus-minus
										input(type="number", min="1", value="1")
										span.mark-amount шт
								.prod-price
									strong 490 &#x20bd;
								.delete-btn
									svg
										use(xlink:href='#icons-23')
							.total-row.flex-container
								.left-info
									span Вы заработаете:
									svg
										use(xlink:href='#icons-15')
									strong 1740
								.center-info
									span Доставка: 440 &#x20bd;
								.right-info
									span Наценка за вес: 100 &#x20bd;
							.form-container
								.box
									form(action="#")
										fieldset
											.flex-container.form-block
												.form-col
													h3 Доставка заказа
													.form-row.holder.geo-row
														select.js-select-style.large
															option Санкт-Петербург
															option Санкт-Петербург
															option Санкт-Петербург
														input.geo(type="text", placeholder="Адрес доставки")
													.form-row.flex-container.half-width
														input.medium(type="text", placeholder="Ваше имя")
														input.mask.medium(type="text", placeholder="+7  916  142-57-92")
													.form-row.flex-container
														select.js-select-style.medium
															option Сегодня 31.10
															option Сегодня 30.10
															option Сегодня 29.10
														select.js-select-style.quarter
															option с 10:00
															option с 11:00
															option с 12:00
														select.js-select-style.quarter
															option до 22:00
															option до 21:00
															option до 20:00
												.form-col
													textarea.full-height(placeholder="Дополнительная информация: номер офиса или квартиры, названиекомпании и тд.")
											.flex-container.form-block
												.form-col
													h3 Оплата
													.radio-block
														.radio-holder
															input(type="radio", id="radio6", name="radio-group3" checked)
															label(for="radio6") Онлайн картой
														.radio-holder
															input(type="radio", id="radio7", name="radio-group3")
															label(for="radio7") У курьера картой
														.radio-holder
															input(type="radio", id="radio8", name="radio-group3")
															label(for="radio8") У курьера наличными
												.form-col
													.set-price-box
														input(type="text", placeholder="Нужна сдача с")
														span.currency &#x20bd;
											.result-row.cart-result
												.flex-container
													.form-col.flex-container
														strong Итого: 1740 &#x20bd;
													.form-col
														a.red-btn(href="#") Отправить заявку
				include ../components/description-block.pug
			include ../components/footer.pug