doctype html
html(lang='ru')
	include ../common/head.pug
	body
		.page
			include ../components/header.pug
			.content.inner-page.none-sidebar
				.container
					ul.breadcrumbs
						li
							a(href="#") Главная
						li Акции
					.content-wrap.holder
						.main-content
							.cart-item.flex-container
								.product.holder
									.prod-pict
										a(href="#")
											img(src="images/img11.jpg")
									.prod-name
										a.sub-ttl(href="#") Калифорния
										span Суши Весла
								.prod-amount
									.number-plus-minus
										input(type="number", min="1", value="1")
										span.mark-amount шт
								.prod-price
									strong 459 &#x20bd;
								.delete-btn
									svg
										use(xlink:href='#icons-23')
							.cart-item.flex-container
								.product.holder
									.prod-pict
										a(href="#")
											img(src="images/img12.jpg")
									.prod-name
										a.sub-ttl(href="#") О рицу маки
										span Суши Весла
								.prod-amount
									.number-plus-minus
										input(type="number", min="1", value="1")
										span.mark-amount шт
								.prod-price
									strong 4590 &#x20bd;
								.delete-btn
									svg
										use(xlink:href='#icons-23')
							.cart-item.flex-container
								.product.holder
									.prod-pict
										a(href="#")
											img(src="images/img13.jpg")
									.prod-name
										a.sub-ttl(href="#") Чизбургер
										span Макдональдс
								.prod-amount
									.number-plus-minus
										input(type="number", min="1", value="1")
										span.mark-amount шт
								.prod-price
									strong 490 &#x20bd;
								.delete-btn
									svg
										use(xlink:href='#icons-23')
							.total-row.flex-container
								.left-info
									span Вы заработаете:
									svg
										use(xlink:href='#icons-15')
									strong 1740
								.center-info
									span Доставка: 440 &#x20bd;
								.right-info
									span Наценка за вес: 100 &#x20bd;
							.form-container
								.box
									form(action="#")
										fieldset
											h3 Доставка заказа
											.flex-container
												.form-col
													.form-row.holder
														select.js-select-style
															option Санкт-Петербург
															option Санкт-Петербург
															option Санкт-Петербург
														input(type="text", placeholder="Адрес доставки")
													.form-row
														input(type="text", placeholder="Ваше имя")
														input.mask(type="text", placeholder="+7  916  142-57-92")
													.form-row
														select.js-select-style
															option Сегодня 31.10
															option Сегодня 30.10
															option Сегодня 29.10
														select.js-select-style
															option с 10:00
															option с 11:00
															option с 12:00
														select.js-select-style
															option до 22:00
															option до 21:00
															option до 20:00
												.form-col
													textarea(placeholder="Дополнительная информация: номер офиса или квартиры, названиекомпании и тд.")
											h3 Оплата
											.flex-container
												.form-col
													.radio-holder
														input(type="radio", id="radio6", name="radio-group3" checked)
														label(for="radio6") Онлайн картой
													.radio-holder
														input(type="radio", id="radio7", name="radio-group3")
														label(for="radio7") У курьера картой
													.radio-holder
														input(type="radio", id="radio8", name="radio-group3")
														label(for="radio8") У курьера наличными
												.form-col
													.set-price-box
														input(type="text", placeholder="Нужна сдача с")
														span.currency &#x20bd;
				include ../components/description-block.pug
			include ../components/footer.pug