doctype html
html(lang='ru')
	include ../common/head.pug
	body
		.page
			.content.error-page
				.container
					img(src="images/error-img.jpg")
					h1 Страница не найдена
					p Запрашиваемая страница не нашлась. Ничего страшного, такое бывает :)
					p Вы можете сообщить нам об этом недоразумении по телефону
						span.tel
							|   8 (800) 550-660-1
					a.red-btn(href="#") Вернуться на главную
					span.copyright © prines.ru, 2016 — 2017.