doctype html
html(lang='ru')
	include ../common/head.pug
	body
		.page
			include ../components/header.pug
			.content.inner-page.none-sidebar
				.container
					ul.breadcrumbs
						li
							a(href="#") Главная
						li Акции
					.content-wrap.holder
						.main-content
							.text-content
								.section
									h1 Единая служба заказа еды из ресторанов и кафе Вашего города!
									p Как доставить людям не только еду, но и радость от ее предвкушения?
									p Мы задались этим вопросом и создали сервис «Принес» – сервис заказа еды из
										a.red-color(href="#")  лучших ресторанов и кафе вашего города.
									p Наша цель – предоставить пользователям удобную форму заказа, быструю доставку, самый широкий выбор блюд и еще сделать приятный подарок к каждому заказу, а ресторанам – увеличить поток клиентов, делающих заказы через Интернет.
									h2 И у нас это получилось!
									p Сделать заказ на «Принес» можно буквально в пару кликов, быть в курсе последних событий, акций и новинок ресторанов города – проще простого, все это на prines.ru! Больше не нужно бродить по сайтам разных заведений или перелистывать буклеты, листовки и прочую макулатуру, в поисках любимого блюда или лучшей цены.
									.flex-container.pict-container
										.col
											img(src="images/img14.jpg")
										.col
											img(src="images/img15.jpg")
									p Важно знать, что заказав на нашем сайте, вы заплатите ровно столько, как и при заказе в самом ресторане, ни копейки больше!
									ul
										li Более того, к каждому заказу мы начисляем
										li Вам бонусные баллы, которые можно обменять
										li на ценные подарки или благотворительность.
									p А кроме этого, мы предусмотрели для вас различные скидки и бонусы, потому что любим радовать своих пользователей не только едой!
									h3 И у нас это получилось!
									p Сделать заказ на «Принес» можно буквально в пару кликов, быть в курсе последних событий, акций и новинок ресторанов города – проще простого, все это на prines.ru! Больше не нужно бродить по сайтам разных заведений или перелистывать буклеты, листовки и прочую макулатуру, в поисках любимого блюда или лучшей цены.
									.box.flex-container
										.pict-holder
											img(src="images/img16.jpg")
										.text-box-holder
											p Сделать заказ на «Принес» можно буквально в пару кликов, быть в курсе последних событий, акций и новинок ресторанов города – проще простого, все это на prines.ru! Больше не нужно бродить по сайтам разных заведений или перелистывать буклеты, листовки и прочую макулатуру, в поисках любимого блюда или лучшей цены.
								.section.section-row
									h2 Расскажите друзьям!
									.soc-widget
										img(src="images/soc-widget.png")
			include ../components/footer.pug

		include ../components/popup.pug