.filter-row {
	background-color: #fff;
	border-radius: 4px;
	font-size: 18px;
	.shadow();
	padding: 18px 28px 19px;
	margin-bottom: 30px;
}
.filter-list {
	li {
		display: inline-block;
		margin-right: 30px;
	}
}
.soc-widget {
	margin-left: 20px;
	img {
		display: block;
	}
}
