.footer {
	border-top: 2px solid #eef3f4;
	padding: 55px 0 30px;
	.flex-container {
		align-items: flex-start;
	}
}
.soc-links {
	li {
		display: inline-block;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: @yellow-color;
		.transition(background-color, 0.5s);
		margin-right: 6px;
		&:hover {
			background-color: @orange-color;
		}
		&:active {
			background-color: @brown-color;
		}
		a {
			display: block;
			height: 100%;
			text-indent: -9999px;
			position: relative;
			&:after {
				position: absolute;
				left: 50%;
				background-image: url("../images/sprite.png");
				content: '';
			}
			&.fb {
				&:after {
					background-position: -95px 0;
					width: 11px;
					height: 23px;
					margin-left: -6px;
					top: 11px;
				}
			}
			&.tw {
				&:after {
					background-position: -110px 0;
					width: 17px;
					height: 14px;
					margin-left: -8px;
					top: 16px;
				}
			}
			&.vk {
				&:after {
					background-position: -132px 0;
					width: 22px;
					height: 13px;
					margin-left: -11px;
					top: 18px;
				}
			}
		}
	}
}
.footer-logo {
	display: block;
	margin-bottom: 20px;
}
.footer-col {
	&:first-child {
		float: left;
		width: 31%;
	}
	&:nth-child(2) {
		float: left;
		width: 40%;
	}
	&:last-child {
		width: 230px;
		float: right;
	}
	.phone {
		display: block;
		color: @black-color;
		font: 28px/32px @pts-bold;
		margin-bottom: 20px;
	}
}
.footer-menu {
	li {
		margin: 0 0 4px;
	}
	a {
		color: @black-color;
		text-decoration: none;
		&:hover {
			color: @orange-color;
			text-decoration: underline;
		}
	}
}
.footer-row {
	color: @grey-color;
	padding-top: 50px;
	a {
		color: @grey-color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}