body {
	color: #424242;
	font: 16px/24px @pts-regular;
	overflow-x: hidden;
	&.menu-opened {
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
}
body > svg {
	left: -9999px;
	position: absolute;
	top: -9999px;
}
.page {
	width:100%;
	overflow: hidden;
	position: relative;
	&:after {
		.menu-opened & {
			position: fixed;
			background: fade(#000, 55%);
			top: 50px;
			width: 100%;
			height: calc(~"100% - 50px");
			z-index: 69;
			content: '';
		}
	}
}
.container {
	max-width: 1280px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0 auto;
}
.holder{
	&:after{
		display: block;
		clear: both;
		content: '';
	}
}
.red-btn {
	.btn();
	display: inline-block;
}
.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content {
	h1 {
		text-align: center;
		font: 48px/52px @boomboom;
		position: relative;
		color: @black-color;
		margin-bottom: 50px;
		&:after {
			background-image: url('../images/sprite.png');
			background-position: 0 -112px;
			width: 45px;
			height: 7px;
			position: absolute;
			left: 50%;
			margin-left: -22px;
			bottom: -14px;
			content: '';
		}
	}
}
.sub-ttl {
	.sub-ttl();
	& > * {
		text-decoration: none;
		color: @yellow-color;
	}
}
.category {
	font: 28px/32px @boomboom;
	padding: 50px 0 10px;
	.flex-container {
		align-items: flex-end;
	}
	.category-item {
		text-align: center;
		margin-bottom: 40px;
		img {
			display: block;
			margin: 0 auto 10px;
			max-width: 100%;
		}
	}
	a {
		display: inline-block;
		color: @yellow-color;
		text-decoration: none;
		.transition(color, 0.5s);
		&:hover {
			color: @red-color;
		}
	}
}
.wrap-content {
	background-color: @bg-grey;
	padding: 70px 0 50px;
}
.red-color {
	color: @red-color;
}
a.red-color {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.description-block {
	padding: 80px 0 50px;
	color: @grey-color;
	.flex-container {
		align-items: flex-start;
	}
	.description {
		width: calc(~"50% - 17px");
	}
	p {
		margin: 0 0 20px;
	}
}
.inner-page {
	background-color: @bg-grey;
	padding: 30px 0;
	.delivery-wrap {
		overflow: hidden;
		padding: 0 30px;
		.delivery-item {
			width: 100%;
		}
	}
}
.checkbox-holder {
	position: relative;
	label {
		display: inline-block;
		padding-left: 32px;
		cursor: pointer;
		&:hover {
			color: @orange-color;
		}
		&:before {
			.checkbox-before();
		}
		&:after {
			.checkbox-after();
		}
	}
	input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
		&:checked + label {
			&:before {
				background-color: @orange-color;
				border-color: @orange-color;
			}
			&:after {
				content: '';
			}
		}
	}
}


