body {
	color: #424242;
	font: 16px/24px @pts-regular;
}
body > svg {
	left: -9999px;
	position: absolute;
	top: -9999px;
}
.container {
	max-width: 1280px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0 auto;
}
.holder{
	&:after{
		display: block;
		clear: both;
		content: '';
	}
}
.btn {
	.btn();
}
.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content {
	h1 {
		text-align: center;
		font: 48px/52px @boomboom;
		position: relative;
		color: @black-color;
		margin-bottom: 50px;
		&:after {
			background-image: url('../images/sprite.png');
			background-position: 0 -112px;
			width: 45px;
			height: 7px;
			position: absolute;
			left: 50%;
			margin-left: -22px;
			bottom: -14px;
			content: '';
		}
	}
}
.sub-ttl {
	.sub-ttl();
}
.category {
	font: 28px/32px @boomboom;
	padding: 50px 0 10px;
	.category-item {
		text-align: center;
		margin-bottom: 40px;
		img {
			display: block;
			margin: 0 auto 10px;
		}
	}
	a {
		display: block;
		color: @yellow-color;
		text-decoration: none;
		.transition(color, 0.5s);
		&:hover {
			color: @red-color;
		}
	}
}
.wrap-content {
	background-color: @bg-grey;
	padding: 70px 0 50px;
}
.red-color {
	color: @red-color;
}
.description-block {
	padding: 80px 0 50px;
	color: @grey-color;
	.flex-container {
		align-items: flex-start;
	}
	.description {
		width: calc(~"50% - 17px");
	}
	p {
		margin: 0 0 20px;
	}
}

