@red-color: #c21030;
@black-color: #0f212b;
@grey-color: #76989f;
@grey-light-color: #eef3f4;
@yellow-color: #f9b848;
@orange-color: #ff7731;
@brown-color: #ac4612;
@bg-grey: #f8f8f8;

@boomboom: 'Boomboom', Arial, sans-serif;
@pts-regular: 'PTSans Regular', Arial, sans-serif;
@pts-bold: 'PTSans Bold', Arial, sans-serif;
@pts-italic: 'PTSans Italic', Arial, sans-serif;
@pts-boldit: 'PTSans BoldIt', Arial, sans-serif;
@pts-nar-regular: 'PTSans Narrow Regular', Arial, sans-serif;
@pts-nar-bold: 'PTSans Narrow Bold', Arial, sans-serif;

.transition(@property, @time){
	transition: @property @time ease;
}
.btn(){
	background-color: @red-color;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	text-decoration: none;
	.transition(background-color, 0.5s);
	font: 18px/24px @pts-bold;
	padding: 11px 24px;
	box-sizing: border-box;
	&:hover {
		background-color: @orange-color;
	}
	&:active {
		background-color: @brown-color;
	}
}
.sub-ttl() {
	font: 28px/32px @boomboom;
	color: @yellow-color;
	display: block;
	margin-bottom: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	.transition(color, 0.5s);
}
.shadow() {
	box-shadow: 0 1px 2px 1px rgba(118, 152, 159, 0.16);
}
.item-hover() {
	&:hover {
		box-shadow: 0 8px 9px 2px rgba(118, 152, 159, 0.16);
		.sub-ttl {
			color: @red-color;
		}
	}
}
.checkbox-before() {
	width: 20px;
	height: 20px;
	border: 1px solid @black-color;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: @grey-light-color;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.checkbox-after() {
	background-image: url("../images/sprite.png");
	background-position: -97px -42px;
	width: 13px;
	height: 12px;
	position: absolute;
	top: 4px;
	left: 4px;
}
.placeholder() {
	&::-webkit-input-placeholder {
		color: @grey-color;
		text-transform: uppercase;
	}
	&::-moz-placeholder {
		color: @grey-color;
		text-transform: uppercase;
	}
	&:-moz-placeholder {
		color: @grey-color;
		text-transform: uppercase;
	}
	&:-ms-input-placeholder {
		color: @grey-color;
		text-transform: uppercase;
	}
}
@-webkit-keyframes ring {

	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	1% {
		-webkit-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	3% {
		-webkit-transform: rotate(-28deg);
		transform: rotate(-28deg);
	}

	5% {
		-webkit-transform: rotate(34deg);
		transform: rotate(34deg);
	}

	7% {
		-webkit-transform: rotate(-32deg);
		transform: rotate(-32deg);
	}

	9% {
		-webkit-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	11% {
		-webkit-transform: rotate(-28deg);
		transform: rotate(-28deg);
	}

	13% {
		-webkit-transform: rotate(26deg);
		transform: rotate(26deg);
	}

	15% {
		-webkit-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	17% {
		-webkit-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	19% {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}

	21% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	23% {
		-webkit-transform: rotate(-16deg);
		transform: rotate(-16deg);
	}

	25% {
		-webkit-transform: rotate(14deg);
		transform: rotate(14deg);
	}

	27% {
		-webkit-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	29% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}

	31% {
		-webkit-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}

	33% {
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg);
	}

	35% {
		-webkit-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}

	37% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}

	39% {
		-webkit-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}

	41% {
		-webkit-transform: rotate(1deg);
		transform: rotate(1deg);
	}

	43% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

}

@-moz-keyframes ring {

	0% {
		-moz-transform: rotate(0);
		transform: rotate(0);
	}

	1% {
		-moz-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	3% {
		-moz-transform: rotate(-28deg);
		transform: rotate(-28deg);
	}

	5% {
		-moz-transform: rotate(34deg);
		transform: rotate(34deg);
	}

	7% {
		-moz-transform: rotate(-32deg);
		transform: rotate(-32deg);
	}

	9% {
		-moz-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	11% {
		-moz-transform: rotate(-28deg);
		transform: rotate(-28deg);
	}

	13% {
		-moz-transform: rotate(26deg);
		transform: rotate(26deg);
	}

	15% {
		-moz-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	17% {
		-moz-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	19% {
		-moz-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}

	21% {
		-moz-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	23% {
		-moz-transform: rotate(-16deg);
		transform: rotate(-16deg);
	}

	25% {
		-moz-transform: rotate(14deg);
		transform: rotate(14deg);
	}

	27% {
		-moz-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	29% {
		-moz-transform: rotate(10deg);
		transform: rotate(10deg);
	}

	31% {
		-moz-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}

	33% {
		-moz-transform: rotate(6deg);
		transform: rotate(6deg);
	}

	35% {
		-moz-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}

	37% {
		-moz-transform: rotate(2deg);
		transform: rotate(2deg);
	}

	39% {
		-moz-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}

	41% {
		-moz-transform: rotate(1deg);
		transform: rotate(1deg);
	}

	43% {
		-moz-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-moz-transform: rotate(0);
		transform: rotate(0);
	}

}

@-o-keyframes ring {

	0% {
		-o-transform: rotate(0);
		transform: rotate(0);
	}

	1% {
		-o-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	3% {
		-o-transform: rotate(-28deg);
		transform: rotate(-28deg);
	}

	5% {
		-o-transform: rotate(34deg);
		transform: rotate(34deg);
	}

	7% {
		-o-transform: rotate(-32deg);
		transform: rotate(-32deg);
	}

	9% {
		-o-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	11% {
		-o-transform: rotate(-28deg);
		transform: rotate(-28deg);
	}

	13% {
		-o-transform: rotate(26deg);
		transform: rotate(26deg);
	}

	15% {
		-o-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	17% {
		-o-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	19% {
		-o-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}

	21% {
		-o-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	23% {
		-o-transform: rotate(-16deg);
		transform: rotate(-16deg);
	}

	25% {
		-o-transform: rotate(14deg);
		transform: rotate(14deg);
	}

	27% {
		-o-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	29% {
		-o-transform: rotate(10deg);
		transform: rotate(10deg);
	}

	31% {
		-o-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}

	33% {
		-o-transform: rotate(6deg);
		transform: rotate(6deg);
	}

	35% {
		-o-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}

	37% {
		-o-transform: rotate(2deg);
		transform: rotate(2deg);
	}

	39% {
		-o-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}

	41% {
		-o-transform: rotate(1deg);
		transform: rotate(1deg);
	}

	43% {
		-o-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-o-transform: rotate(0);
		transform: rotate(0);
	}

}

@keyframes ring{

	0%{
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}

	1%{
		-webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	3%{
		-webkit-transform: rotate(-28deg);
		-moz-transform: rotate(-28deg);
		-o-transform: rotate(-28deg);
		transform: rotate(-28deg);
	}

	5%{
		-webkit-transform: rotate(34deg);
		-moz-transform: rotate(34deg);
		-o-transform: rotate(34deg);
		transform: rotate(34deg);
	}

	7%{
		-webkit-transform: rotate(-32deg);
		-moz-transform: rotate(-32deg);
		-o-transform: rotate(-32deg);
		transform: rotate(-32deg);
	}

	9%{
		-webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	11%{
		-webkit-transform: rotate(-28deg);
		-moz-transform: rotate(-28deg);
		-o-transform: rotate(-28deg);
		transform: rotate(-28deg);
	}

	13%{
		-webkit-transform: rotate(26deg);
		-moz-transform: rotate(26deg);
		-o-transform: rotate(26deg);
		transform: rotate(26deg);
	}

	15%{
		-webkit-transform: rotate(-24deg);
		-moz-transform: rotate(-24deg);
		-o-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	17%{
		-webkit-transform: rotate(22deg);
		-moz-transform: rotate(22deg);
		-o-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	19%{
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}

	21%{
		-webkit-transform: rotate(18deg);
		-moz-transform: rotate(18deg);
		-o-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	23%{
		-webkit-transform: rotate(-16deg);
		-moz-transform: rotate(-16deg);
		-o-transform: rotate(-16deg);
		transform: rotate(-16deg);
	}

	25%{
		-webkit-transform: rotate(14deg);
		-moz-transform: rotate(14deg);
		-o-transform: rotate(14deg);
		transform: rotate(14deg);
	}

	27%{
		-webkit-transform: rotate(-12deg);
		-moz-transform: rotate(-12deg);
		-o-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	29%{
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		transform: rotate(10deg);
	}

	31%{
		-webkit-transform: rotate(-8deg);
		-moz-transform: rotate(-8deg);
		-o-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}

	33%{
		-webkit-transform: rotate(6deg);
		-moz-transform: rotate(6deg);
		-o-transform: rotate(6deg);
		transform: rotate(6deg);
	}

	35%{
		-webkit-transform: rotate(-4deg);
		-moz-transform: rotate(-4deg);
		-o-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}

	37%{
		-webkit-transform: rotate(2deg);
		-moz-transform: rotate(2deg);
		-o-transform: rotate(2deg);
		transform: rotate(2deg);
	}

	39%{
		-webkit-transform: rotate(-1deg);
		-moz-transform: rotate(-1deg);
		-o-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}

	41%{
		-webkit-transform: rotate(1deg);
		-moz-transform: rotate(1deg);
		-o-transform: rotate(1deg);
		transform: rotate(1deg);
	}

	43%{
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}

	100%{
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
}