@media screen and (max-width: 999px) {
	.content {
		h1 {
			font-size: 42px;
			line-height: 46px;
		}
	}
	.top-menu {
		font-size: 16px;
	}
	.logged {
		.top-header {
			.container {
				padding: 0 10px;
			}
		}
		.top-menu {
			li {
				margin-right: 15px;
			}
		}
	}
	.hidden-box {
		display: none;
	}
	.search-wrap {
		button {
			width:98px;
			span {
				display: none;
			}
		}
		.jq-selectbox:first-child {
			width: 173px;
		}
		.jq-selectbox:nth-child(2) {
			width: calc(~"100% - 271px");
		}
		input[type=text] {
			width: calc(~"100% - 271px");
		}
		.jq-selectbox__select {
			font-size: 16px;
			padding-right: 39px;
		}
	}
	.main-slider {
		.container, .owl-dots {
			max-width: 1280px;
			padding: 0 30px;
		}
		.owl-dots {
			bottom: 30px;
		}
		.owl-nav {
			display: none;
		}
	}
	.slide-item {
		height: 345px;
		padding-top: 40px;
	}
	.slide-ttl {
		font-size: 78px;
		line-height: 82px;
		padding-bottom: 15px;
	}
	.category {
		.flex-container {
			flex-wrap: wrap;
		}
		.category-item {
			width: 30%;
		}
	}
	.catalog-block {
		.banner {
			flex-basis: 229px;
		}
		.sub-ttl {
			font-size: 24px;
			line-height: 28px;
		}
	}
	.catalog-item {
		margin-bottom: 20px;
		.amount-box {
			width: 122px;
		}
		.tooltip-info {
			right: 0 !important;
			left:auto !important;
		}
		.inner-page & {
			width: calc(~"33.3333% - 14px");
			margin-bottom: 20px;
		}
	}
	.delivery-wrap {
		display: block;
		.delivery-item {
			margin-bottom: 20px;
			width: 100%;
		}
		.rating-row {
			clear: none;
		}
	}
	.feedback-item {
		padding: 16px 20px;
		.answer-block {
			margin: 20px -10px -6px;
		}
		.user-side {
			float: none;
			width: 100%;
			padding-right: 132px;
			box-sizing: border-box;
			margin-bottom: 12px;
		}
		.user-photo {
			display: none;
		}
		.user-info {
			span {
				display: inline-block;
				margin-right: 7px;
			}
		}
	}
	.feedback-header {
		padding-right: 0;
	}
	.feedback-body {
		overflow: visible;
		border-left: 0;
		padding-left: 0;
		.mark {
			left: 0;
		}
		.rating-list {
			top: -37px;
			right: -8px;
		}
		.sub-ttl {
			white-space: normal;
		}
	}
	.description-block {
		padding: 50px 0 25px;
		.flex-container {
			display: block;
		}
		.description {
			width: 100%;
		}
	}
	.footer {
		padding: 39px 0 30px;
	}
	.footer-area {
		.footer-col {
			&:first-child {
				float: none;
				width: 100%;
				margin-bottom: 40px;
				text-align: center;
			}
			&:nth-child(2){
				width: 58%;
			}
			.footer-logo {
				display: inline-block;
				width: 208px;
				margin: 0 32px 0 0;
				vertical-align: middle;
			}
			.soc-links {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	.footer-row {
		text-align: center;
		.footer-col {
			float: none;
			display: block;
			width: 100%;
			margin: 0;
		}
	}
	.aside, .soc-widget {
		display: none;
	}
	.inner-page {
		.main-content {
			padding: 0;
			width: 100%;
		}
		.cols-wrap, .sidebar {
			float: none;
			width: 100%;
		}
	}
	.sidebar-filter {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			width: 30%;
		}
	}
	.box-ttl {
		padding: 11px 0;
	}
	.sale-info {
		flex: 2.15 0 0;
	}
	.bonus-item {
		width: calc(~"50% - 10px");
	}
	.white-box {
		.grey-box {
			.red-btn {
				padding: 11px 14px ;
			}
		}
	}
	.product {
		width: 50%;
	}
	.prod-amount {
		.number-plus-minus {
			width: 160px;
			.mark-amount {
				right: 58px;
			}
		}
	}
	.form-block {
		display: block;
		.form-col {
			&:nth-child(1), &:nth-child(2){
				width: 100%;
				padding-top: 0;
				margin-bottom: 10px;
			}
			.col {
				display: inline-block;
				margin: 0 30px 0 0;
			}
		}
	}
	.radio-block {
		.radio-holder {
			width: calc(~"100%/3");
			text-align: center;
		}
		label {
			width: 100%;
			box-sizing: border-box;
		}
	}
	.result-row {
		.form-col {
			&:nth-child(1){
				width: 65%;
			}
			&:nth-child(2) {
				padding: 0;
				width: auto;
			}
		}
		&.cart-result {
			.flex-container {
				justify-content: center;
			}
			.form-col {
				&:nth-child(1){
					width: auto;
					margin: 0 20px 0 0;
				}
			}
		}
	}
	.form-container {
		.value-info {
			.tooltip {
				.tooltip-info {
					left:0;
					right:auto;
				}
			}
		}
	}
	.profile-sidebar {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.points {
			display: none;
		}
		.sidebar-box {
			border:0;
			margin: 0;
			padding: 0;
			ul {
				padding: 0;
				li {
					display: inline-block;
					margin: 0 0 0 20px;
					&:first-child {
						margin: 0;
					}
				}
			}
		}
	}
	.sidebar-section {
		&.mobile-only {
			display: block;
			margin: 20px 0;
			.points {
				display: block;
				& > span {
					display: inline-block;
					vertical-align: top;
					margin: 5px 10px 0 0;
				}
			}
		}
	}
	.user-bonus {
		display: none;
	}
	.popup {
		width: 300px !important;
		.soc-links {
			li {
				width: 37px;
				height: 37px;
			}
		}
	}
	.login-popup, .register-popup {
		padding: 25px 13px 0;
	}
	.popup-body {
		padding: 30px;
	}
	.popup-main {
		display: block;
		.left-col, .right-col {
			width: 100%;
		}
	}
	.tooltip {
		.close-tooltip-mobiles {
			display: block;
		}
		.tooltip-info {
			bottom:auto;
			top:0;
			.infobar & {
				bottom: 0;
				top: auto;
			}
		}
	}
}