@media screen and (max-width: 479px) {
	.container {
		padding: 0 10px;
	}
	.wrap-content, .catalog-block {
		padding: 30px 0 20px;
	}
	.header {
		.logo {
			background-image: url("../images/sm-logo.png");
			width: 43px;
			height: 38px;
			left: 10px;
		}
	}
	.menu-opener {
		margin-left: 18px;
	}
	.nav-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		li {
			width: calc(~"50% - 10px");
			margin-right: 0;
		}
	}
	.center-box {
		padding-left: 0;
		margin-right: 15px;
		svg {
			display: none;
		}
		strong {
			font-size: 16px;
			white-space: nowrap;
		}
	}
	.btn-order {
		a {
			font-size: 16px;
			line-height: 20px;
			max-width: 150px;
			padding: 7px;
		}
	}
	.search-wrap {
		.jq-selectbox {
			&:first-child {
				width: 100%;
			}
			&:nth-child(2){
				width: calc(~"100% - 98px");
			}
		}
		input[type=text] {
			width: calc(~"100% - 98px");
		}
		.grey-bg {
			.jq-selectbox__select {
				border-right: 0;
				border-bottom: 2px solid @black-color;
			}
		}
	}
	.search-row,
	.top-header {
		.header-sale {
			right: 206px;
		}
		.header-cart {
			right: 110px;
		}
	}
	.main-slider {
		.owl-dots {
			text-align: center;
			.owl-dot {
				margin: 0 10px;
			}
		}
	}
	.slide-item {
		text-align: center;
	}
	.slide-ttl {
		font-size: 48px;
		line-height: 52px;
	}
	.category {
		.category-item {
			width: 46%;
		}
	}
	.catalog-wrap {
		display: block;
		.catalog-item {
			width: 100%;
			.tooltip-info {
				right: 0;
				width: 270px;
				padding: 15px;
			}
		}
	}
	.delivery-item {
		.rating-row {
			clear: left !important;
		}
		margin-bottom: 10px;
		.payment-list {
			display: none;
		}
		.item-logo {
			width: 70px;
			line-height: normal;
			min-height: 67px;
			img {
				width: 100%;
			}
		}
		.sub-ttl {
			font-size: 24px;
			margin-bottom: 5px;
		}
		.promo-code {
			top: 5px;
			left: 5px;
			width: 50px;
			height: 50px;
			font-size: 11px;
			line-height: 14px;
			padding-top: 12px;
		}
		.bottom-info {
			.flex-container {
				flex-wrap: wrap;
				align-items: flex-start;
			}
			.cell {
				width: calc(~"50% - 10px");
				margin-bottom: 15px;
			}
			.cell-value {
				font-size: 16px;
			}
		}
	}
	.feedback-item {
		.user-info {
			.date, .time {
				display: none;
			}
		}
	}
	.description-block {
		padding: 34px 0 15px;
	}
	.footer-area {
		.footer-col {
			margin-bottom: 20px;
			&:first-child {
				margin-bottom: 20px;
			}
			.footer-logo {
				display: block;
				margin: 0 auto 20px;
			}
		}
		.footer-menu {
			display: block;
			text-align: center;
		}
	}
	.sidebar-section {
		padding: 20px;
	}
	.filter-row {
		padding: 18px 20px 19px;
	}
	.sidebar-filter {
		li {
			label {
				display: block;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
	.links-row {
		text-align: center;
		a {
			&.red-btn {
				display: block;
				margin: 0 0 10px;
			}
		}
	}
	.text-content {
		padding: 20px;
		.points {
			svg {
				width: 41px;
				height: 41px;
			}
			img {
				width: 47px;
				height: 47px;
			}
		}
	}
	.white-box {
		width: 100%;
		margin-bottom: 10px;
	}
	.bonus-item {
		width: calc(~"50% - 5px");
		.points {
			& > strong {
				font-size: 42px;
				line-height: 46px;
			}
		}
		.discount {
			strong {
				top: 0;
			}
		}
	}
	.prod-amount {
		.number-plus-minus {
			width: 140px;
			padding: 17px 8px;
			.mark-amount {
				right: 49px;
			}
		}
	}
	.prod-price {
		width: calc(~"100% - 180px");
	}
	.cart-item {
		.delete-btn {
			margin-right: 10px;
		}
	}
	.box {
		padding-left: 20px;
		padding-right: 20px;
	}
	.radio-holder {
		label {
			font-size: 15px;
			padding: 0 10px;
		}
	}
	.form-container {
		.flex-container {
			input[type="text"].small {
				width:100%;

				& + .jq-selectbox {
					width:100%;
				}
			}
		}
		.more-info-link {
			margin-left: 0;
		}
		.more-info-block {
			.flex-container {
				display: block;
				.medium {
					width:100%;
				}
			}
		}
		.suggestions {
			li {
				margin: 0 10px 0 0;
				&:first-child {
					margin-right: 10px;
				}
			}
		}
		.value-info {
			.tooltip {
				.tooltip-info {
					left: -150px;
					width: 282px;
				}
			}
		}
		.result-row {
			.form-col:nth-child(1) {
				display: block;
				text-align: center;
				ul {
					margin: 0 0 5px;
				}
			}
		}
	}
	.profile-form .password-wrap,
	.profile-form input[type="text"],
	.profile-form input[type="password"]{
		width:100%;
	}
	.sidebar-section.mobile-only .points > span {
		display: block;
	}
	.main-content {
		.soc-links {
			li {
				margin: 0;
				width: 36px;
				height: 36px;
			}
		}
	}
	.infobar {
		.cart-icon {
			display: none;
		}
		.info-box {
			& > strong {
				font-size: 16px;
			}
		}
	}
	.content {
		h1 {
			br {
				display: block;
			}
		}
	}
}