@media screen and (max-width: 1279px) {
	.container {
		padding: 0 20px;
	}
	.sign-box {
		& > span {
			display: none;
		}
	}
	.top-menu {
		width: 84%;
	}
	.logo {
		width: 208px;
		height: 68px;
	}
	.center-box {
		& > strong {
			font-size: 20px;
			line-height: 26px;
		}
	}
	.delivery-item {
		.rating-row {
			clear: left;
		}
	}
	.feedback-body {
		p {
			max-height: 100px;
			overflow: hidden;

		}
		.show-more {
			display: inline-block;
		}
	}
	.alltext {
		p {
			max-height: 9999px;
		}
	}
	.catalog-item {
		width: calc(~"50% - 10px");
	}
	.tooltip {
		.tooltip-info {
			width: 320px;
		}
	}
}