.catalog-block
	.container
		h1 Популярные блюда
		.holder
			.catalog-wrap.flex-container
				.catalog-item
					.tooltip
						svg
							use(xlink:href='#icons-27')
						.tooltip-info
							p Для создания изысканных суси и роллов наши шеф-повара японской кухни используют лучшие ингредиенты: отборный рис, аутентичные соусы, безупречно свежую рыбу и морепродукты, привезенные прямо из Страны восходящего солнца! Яркие роллы приготовлены по авторскому рецепту "Азбуки Вкуса": их начинка состоит из аппетитного лосося, мягкого сливочно-творожного сыра, хрустящих огурцов и пикантно-острого зеленого лука.
					a(href="#")
						img(src="images/img01.jpg")
						span.sub-ttl Картофель фри стфри
					.price-row.flex-container
						strong.price 58 &#x20bd;
						a.amount-box(href="#")
							span 1 шт
								svg.arrow
									use(xlink:href='#icons-18')
							svg
								use(xlink:href='#icons-10')

				.catalog-item
					.tooltip
						svg
							use(xlink:href='#icons-27')
						.tooltip-info
							p Для создания изысканных суси и роллов наши шеф-повара японской кухни используют лучшие ингредиенты: отборный рис, аутентичные соусы, безупречно свежую рыбу и морепродукты, привезенные прямо из Страны восходящего солнца! Яркие роллы приготовлены по авторскому рецепту "Азбуки Вкуса": их начинка состоит из аппетитного лосося, мягкого сливочно-творожного сыра, хрустящих огурцов и пикантно-острого зеленого лука.
					a(href="#")
						img(src="images/img02.jpg")
						span.sub-ttl Сандерс
					.price-row.flex-container
						strong.price 89 &#x20bd;
						a.amount-box.flex-container(href="#")
							span 1 шт
								svg.arrow
									use(xlink:href='#icons-18')
							svg
								use(xlink:href='#icons-10')
				.catalog-item
					.tooltip
						svg
							use(xlink:href='#icons-27')
						.tooltip-info
							p Для создания изысканных суси и роллов наши шеф-повара японской кухни используют лучшие ингредиенты: отборный рис, аутентичные соусы, безупречно свежую рыбу и морепродукты, привезенные прямо из Страны восходящего солнца! Яркие роллы приготовлены по авторскому рецепту "Азбуки Вкуса": их начинка состоит из аппетитного лосося, мягкого сливочно-творожного сыра, хрустящих огурцов и пикантно-острого зеленого лука.
					a(href="#")
						img(src="images/img03.jpg")
						span.sub-ttl Альфредо
							span.size
								|  40 см
					.price-row.flex-container
						strong.price 89 &#x20bd;
						a.amount-box.flex-container(href="#")
							span 1 шт
								svg.arrow
									use(xlink:href='#icons-18')
							svg
								use(xlink:href='#icons-10')
			a.banner(href="#")
				img(src="images/banner.jpg")