.delivery
	.container
		h1 Популярные доставки
		.flex-container
			.delivery-item
				.top-info.holder
					span.promo-code Промо коды
					.item-logo
						img(src="images/sm-logo01.jpg")
					strong.sub-ttl Доставка из Мака Сургут
					ul.labels-list
						li Бургеры
						li Американская
					.rating-row
						ul.rating-list
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
						span 2123 оценки
						ul.payment-list
							li.wallet
								svg
									use(xlink:href='#icons-03')
							li.mastercard
								svg
									use(xlink:href='#icons-01')
							li.visa
								svg
									use(xlink:href='#icons-02')
				.bottom-info
					.flex-container
						.cell
							span.cell-header Доставка
							strong.cell-value 300 &#x20bd;
						.cell
							span.cell-header Мин. заказ
							strong.cell-value -
						.cell
							span.cell-header Время доставки
							strong.cell-value 60 минут
						.cell
							span.cell-header Время работы
							strong.cell-value 10:00 — 23:00
			.delivery-item
				.top-info.holder
					.item-logo
						img(src="images/sm-logo02.jpg")
					strong.sub-ttl KFC Нижневартовск
					ul.labels-list
						li Бургеры
						li Американская
					.rating-row
						ul.rating-list
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li
								svg
									use(xlink:href='#icons-05')
						span 2123 оценки
						ul.payment-list
							li.wallet
								svg
									use(xlink:href='#icons-03')
							li.mastercard
								svg
									use(xlink:href='#icons-01')
							li.visa
								svg
									use(xlink:href='#icons-02')
				.bottom-info
					.flex-container
						.cell
							span.cell-header Доставка
							strong.cell-value бесплатно
						.cell
							span.cell-header Мин. заказ
							strong.cell-value 100 &#x20bd;
						.cell
							span.cell-header Время доставки
							strong.cell-value 30 минут
						.cell
							span.cell-header Время работы
							strong.cell-value 09:00 — 23:00
			.delivery-item
				.top-info.holder
					.item-logo
						img(src="images/sm-logo03.jpg")
					strong.sub-ttl Универсальная доставка
					ul.labels-list
						li Европейская
						li Китайская
						li Русская
					.rating-row
						ul.rating-list
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li
								svg
									use(xlink:href='#icons-05')
						span 212 оценки
						ul.payment-list
							li.wallet
								svg
									use(xlink:href='#icons-03')
				.bottom-info
					.flex-container
						.cell
							span.cell-header Доставка
							strong.cell-value бесплатно
						.cell
							span.cell-header Мин. заказ
							strong.cell-value 200 &#x20bd;
						.cell
							span.cell-header Время доставки
							strong.cell-value 40 минут
						.cell
							span.cell-header Время работы
							strong.cell-value 10:00 — 23:00
			.delivery-item
				.top-info.holder
					span.promo-code Промо коды
					.item-logo
						img(src="images/sm-logo04.jpg")
					strong.sub-ttl Кофе есть
					ul.labels-list
						li Бургеры
						li Американская
					.rating-row
						ul.rating-list
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
						span 223 оценки
						ul.payment-list
							li.mastercard
								svg
									use(xlink:href='#icons-01')
							li.visa
								svg
									use(xlink:href='#icons-02')
				.bottom-info
					.flex-container
						.cell
							span.cell-header Доставка
							strong.cell-value бесплатно
						.cell
							span.cell-header Мин. заказ
							strong.cell-value -
						.cell
							span.cell-header Время доставки
							strong.cell-value 30 минут
						.cell
							span.cell-header Время работы
							strong.cell-value 10:00 — 23:00
			.delivery-item
				.top-info.holder
					.item-logo
						img(src="images/sm-logo05.jpg")
					strong.sub-ttl Японапапа
					ul.labels-list
						li Европейская
						li Китайская
						li Русская
					.rating-row
						ul.rating-list
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
						span 223 оценки
						ul.payment-list
							li.wallet
								svg
									use(xlink:href='#icons-03')
							li.mastercard
								svg
									use(xlink:href='#icons-01')
							li.visa
								svg
									use(xlink:href='#icons-02')
				.bottom-info
					.flex-container
						.cell
							span.cell-header Доставка
							strong.cell-value бесплатно
						.cell
							span.cell-header Мин. заказ
							strong.cell-value 200 &#x20bd;
						.cell
							span.cell-header Время доставки
							strong.cell-value 40 минут
						.cell
							span.cell-header Время работы
							strong.cell-value 10:00 — 23:00
			.delivery-item
				.top-info.holder
					.item-logo
						img(src="images/sm-logo06.jpg")
					strong.sub-ttl Студия правильного питания Fffffff
					ul.labels-list
						li Бургеры
						li Американская
					.rating-row
						ul.rating-list
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li.active
								svg
									use(xlink:href='#icons-05')
							li
								svg
									use(xlink:href='#icons-05')
							li
								svg
									use(xlink:href='#icons-05')
						span 223 оценки
						ul.payment-list
							li.wallet
								svg
									use(xlink:href='#icons-03')
				.bottom-info
					.flex-container
						.cell
							span.cell-header Доставка
							strong.cell-value бесплатно
						.cell
							span.cell-header Мин. заказ
							strong.cell-value -
						.cell
							span.cell-header Время доставки
							strong.cell-value 30 минут
						.cell
							span.cell-header Время работы
							strong.cell-value 10:00 — 23:00