.wrap-content
	.container
		h1 Отзывы о доставках
		.feedback-item.holder
			.user-side.holder
				img.user-photo(src="images/default-photo.png")
				.user-info
					span.name Алена
					span.date 23 октября
					span.time в 17:34
			.feedback-body
				.feedback-header
					span.mark.like
						svg
							use(xlink:href='#icons-07')
					strong.sub-ttl
						a(href="#") Студия правильного питания Food
					ul.rating-list
						li.active
							svg
								use(xlink:href='#icons-05')
						li.active
							svg
								use(xlink:href='#icons-05')
						li.active
							svg
								use(xlink:href='#icons-05')
						li.active
							svg
								use(xlink:href='#icons-05')
						li.active
							svg
								use(xlink:href='#icons-05')
				.feedback-comment
					p Заказала вчера в папас бургер, доставку привезли, как и указали, но!!! Еда была испорчена! Причём испорчена не в смысле помята, а именно испорчена. Начну с клаб сенвича: во-первых, он не с индейкой, как указано, во-вторых, я его даже есть не рискнула, потому что он вонял испорченным майонезом. Ощущение, что он недельной давности. Бургеры: вроде ничего, но тоже присутствует запах и привкус испорченной еды, какой-то кислый резкий запах. Поэтому бургер я откусила и желание есть его пропало. Салат Цезарь без соуса! Я все равно съела, потому что креветки и листья салата испортить сложно. И очень странные гренки, они чёрного цвета
					a.show-more.js-show-more(href="#") Показать полностью
		.feedback-item.holder
			.user-side.holder
				img.user-photo(src="images/default-photo.png")
				.user-info
					span.name Виктор Васильев
					span.date 7 октября
					span.time в 9:14
			.feedback-body
				.feedback-header
					span.mark.dislike
						svg
							use(xlink:href='#icons-07')
					strong.sub-ttl
						a(href="#") Большой гурман
					ul.rating-list
						li.active
							svg
								use(xlink:href='#icons-05')
						li
							svg
								use(xlink:href='#icons-05')
						li
							svg
								use(xlink:href='#icons-05')
						li
							svg
								use(xlink:href='#icons-05')
						li
							svg
								use(xlink:href='#icons-05')
				.feedback-comment
					p заказ не доставлен, деньги не вернули до сих пор! настоятельно не рекомендую этот ресторан для заказа.
						br
						| upd. деньги вернули
		.feedback-item.holder
			.user-side.holder
				img.user-photo(src="images/user-photo.png")
				.user-info
					span.name Владлена
					span.date 7 октября
					span.time в 9:14
			.feedback-body
				.feedback-header
					span.mark.like
						svg
							use(xlink:href='#icons-07')
					strong.sub-ttl
						a(href="#") Папа'с Бургерс
					ul.rating-list
						li.active
							svg
								use(xlink:href='#icons-05')
						li.active
							svg
								use(xlink:href='#icons-05')
						li.active
							svg
								use(xlink:href='#icons-05')
						li.active
							svg
								use(xlink:href='#icons-05')
						li.active
							svg
								use(xlink:href='#icons-05')
				.feedback-comment
					p Все отлично!

