.infobar
	.container.flex-container
		.order-info.flex-container
			svg.cart-icon
				use(xlink:href='#icons-10')
			.info-box
				strong Ваш заказ на 300 &#x20bd; + доставка 200 &#x20bd;
				.tooltip
					svg
						use(xlink:href='#icons-27')
					.tooltip-info
						p Для создания изысканных суси и роллов наши шеф-повара японской кухни используют лучшие ингредиенты
				.note.red-color Не хватает 130 &#x20bd; до минимального заказа!
		a.red-btn(href="#") Перейти в корзину