footer.footer
	.container.flex-container
		.footer-col
			img.footer-logo(src="images/logo.png")
			ul.soc-links
				li
					a.fb(href="#") facebook
				li
					a.tw(href="#") twitter
				li
					a.vk(href="#") vk
