footer.footer
	.container
		.footer-area.holder
			.footer-col
				img.footer-logo(src="images/logo.png")
				ul.soc-links
					li
						a.fb(href="#") facebook
					li
						a.tw(href="#") twitter
					li
						a.vk(href="#") vk
			.footer-col
				.footer-menu.flex-container
					ul
						li
							a(href="#") О проекте
						li
							a(href="#") Контакты
						li
							a(href="#") Информация для партнеров
						li
							a(href="#") Пользовательское соглашение
						li
							a(href="#") Бонусные баллы
					ul
						li
							a(href="#") Доставка пиццы
						li
							a(href="#") Доставка суши
						li
							a(href="#") Доставка еды
						li
							a(href="#") Доставка обедов
						li
							a(href="#") Доставка продуктов
			.footer-col
				strong.phone 8 (800) 550-660-1
				a.red-btn(href="#") Универсальный заказ
		.footer-row.holder
			.footer-col
				span © prines.ru, 2016 — 2017.
			.footer-col
				span Быстрая и качественная доставка вашего заказа
			.footer-col
				span Дизайн —
					a(href="#") alexeybychkov.com

