header.header
	.top-header
		.container.holder
			a.logo(href="#") Принес время для Вас
			ul.top-menu.flex-container
				li
					a(href="#", class="menu-accordion-opener box-ttl js-block-opener")
						| Блюда
						svg
							use(xlink:href='#icons-18')
					ul.menu-list.menu-accordion-list.js-opened-block
						li
							a(href="#") Пицца
						li
							a(href="#", class="active") Суши
						li
							a(href="#") Бурритос
						li
							a(href="#") Бургеры
						li
							a(href="#") Салаты
						li
							a(href="#") Первые блюда
						li
							a(href="#") Паста
						li
							a(href="#") Лапша
				li
					a(href="#") О проекте
				li
					a(href="#") Как подключиться
				li
					a(href="#") Соглашение
				li
					a(href="#") Бонусная программа
				li
					a(href="#") Контакты
			a.menu-opener.js-menu-opener(href="#")
				span open menu
			.sign-box
				span Привет! А мы тебя не узнали :)
				a.sign-link(href="#login-popup", class="open-popup")
					span Войти
					svg
						use(xlink:href='#icons-09')
			a.header-sale(href="#")
				svg
					use(xlink:href='#icons-08')
				strong Акции
			a.header-cart(href="#")
				svg
					use(xlink:href='#icons-10')
				strong 300 &#x20bd;
	.header-area
		.container.flex-container
			a.logo(href="#") Принес время для Вас
			.center-box.hidden-box
				svg
					use(xlink:href='#icons-13')
				strong уже
					span.red 30 заказов!
				span доставили сегодня
			.center-box
				svg
					use(xlink:href='#icons-11')
				strong
					a(href="tel:88005506601") 8 (800) 550-660-1
				span круглосуточно!
			.btn-order
				a.red-btn(href="#") Универсальный заказ
	.search-row
		.container.flex-container
			.search-wrap
				form(action="#")
					fieldset
						.holder
							select.grey-bg.js-select-style
								option Санкт-Петербург
								option Москва
								option Санкт-Петербург
							input(type="text", placeholder="Выбрать улицу")
							button.red-btn Найти
								span  рестораны
			a.header-sale(href="#")
				svg
					use(xlink:href='#icons-08')
				strong Акции
			a.header-cart(href="#")
				svg
					use(xlink:href='#icons-10')
				strong 300 &#x20bd;