//.login-popup.popup
//	.popup-heading
//		ul
//			li.active Вход
//			li
//				a(href="#") Регистрация
//	form(action="#")
//		fieldset
//			.fields-wrap
//				input(type="tel", placeholder="Номер телефона")
//				input(type="password", placeholder="Пароль")
//				a.reminder.red-color(href="#") Напомнить
//			ul.soc-links
//				li
//					a.fb(href="#") facebook
//				li
//					a.tw(href="#") twitter
//				li
//					a.vk(href="#") vk
//				li
//					a.google(href="#") google
//				li
//					a.instagram(href="#") instagram
//				li
//					a.classmates(href="#") classmates
//			.btn-wrap
//				input(type="submit", value="Войти", class="red-btn")
//	button.close-popup close
//
//.register-popup.popup
//	.popup-heading
//		ul
//			li
//				a(href="#") Вход
//			li.active Регистрация
//	form(action="#")
//		fieldset
//			.fields-wrap
//				input(type="tel", placeholder="Номер телефона")
//				input(type="password", placeholder="Пароль")
//				input(type="password", placeholder="Пароль еще раз")
//			.checkbox-holder
//				input(type="checkbox" id="check-agree" checked)
//				label(for="check-agree") Согласен с
//					a.red-color(href="#")  правилами сервиса
//			ul.soc-links
//				li
//					a.fb(href="#") facebook
//				li
//					a.tw(href="#") twitter
//				li
//					a.vk(href="#") vk
//				li
//					a.google(href="#") google
//				li
//					a.instagram(href="#") instagram
//				li
//					a.classmates(href="#") classmates
//			.btn-wrap
//				input(type="submit", value="Зарегистрироваться", class="red-btn")
//	button.close-popup close
//
//.payment-popup.popup.successful
//	.popup-header
//		strong Подтверждение оплаты
//	.popup-body
//		.icon
//			svg
//				use(xlink:href='#icons-12')
//		strong.title Оплата прошла успешно!
//		p Спасибо, все в порядке. Наш менеджер свяжется с вами совсем скоро!
//			br
//			| До связи :)
//		a.red-btn(href="#") Закрыть
//	button.close-popup close
//
//.payment-popup.popup.failed
//	.popup-header
//		strong Подтверждение оплаты
//	.popup-body
//		.icon
//			strong :(
//		strong.title Оплата не прошла
//		p Что-то не так. Попробуйте еще раз.
//		a.red-btn(href="#") Закрыть
//	button.close-popup close

.popup-order.popup
	.popup-header
		strong Все о пирогах
