.sale-item.flex-container
	.sale-picture
		a(href="#")
			img(src="images/img07.jpg")
	.sale-info
		.item-header
			a.sub-ttl(href="#") Скидка на бургеры
				span 100 &#x20bd;
		p Получите скидку 350 &#x20bd; при заказе от 800 &#x20bd;. Просто оплатите заказ онлайн с промокодом CHEST350. Акция действует на 1 заказ в день.
		.bottom-info
			.cell
				span.cell-header до конца акции
				strong.cell-value 12д : 28ч : 55м
			.cell
				span.cell-header промокод
				strong.cell-value CHEST350
.sale-item.flex-container
	.sale-picture
		a(href="#")
			img(src="images/img08.jpg")
	.sale-info
		.item-header
			a.sub-ttl(href="#") Скидка на пиццу
				span 200 &#x20bd;
		p Получите скидку 350 &#x20bd; при заказе от 800 &#x20bd;. Просто оплатите заказ онлайн с промокодом CHEST350. Акция действует на 1 заказ в день.
		.bottom-info
			.cell
				span.cell-header до конца акции
				strong.cell-value 12д : 28ч : 55м
			.cell
				span.cell-header промокод
				strong.cell-value CHEST350
.sale-item.flex-container
	.sale-picture
		a(href="#")
			img(src="images/img09.jpg")
	.sale-info
		.item-header
			a.sub-ttl(href="#") Скидка на обеды
				span 200 &#x20bd;
		p Получите скидку 350 &#x20bd; при заказе от 800 &#x20bd;. Просто оплатите заказ онлайн с промокодом CHEST350. Акция действует на 1 заказ в день.
		.bottom-info
			.cell
				span.cell-header до конца акции
				strong.cell-value 12д : 28ч : 55м
			.cell
				span.cell-header промокод
				strong.cell-value CHEST350
.sale-item.flex-container
	.sale-picture
		a(href="#")
			img(src="images/img10.jpg")
	.sale-info
		.item-header
			a.sub-ttl(href="#") Скидка на вегетарианскую еду
				span 200 &#x20bd;
		p Получите скидку 350 &#x20bd; при заказе от 800 &#x20bd;. Просто оплатите заказ онлайн с промокодом CHEST350. Акция действует на 1 заказ в день.
		.bottom-info
			.cell
				span.cell-header до конца акции
				strong.cell-value 12д : 28ч : 55м
			.cell
				span.cell-header промокод
				strong.cell-value CHEST350