.main-slider.owl-carousel.js-slider
	.slide-item
		.container
			strong.slide-ttl
				| Грузинская
				br
				| кухня
			a.red-btn(href="#") Подробнее
	.slide-item
		.container
			strong.slide-ttl
				| Грузинская
				br
				| кухня 2
			a.red-btn(href="#") Подробнее