.main-slider.owl-carousel
	.slide-item
		.container
			strong.slide-ttl
				| Грузинская
				br
				| кухня
			a.btn(href="#") Подробнее
	.slide-item
		.container
			strong.slide-ttl
				| Грузинская
				br
				| кухня 2
			a.btn(href="#") Подробнее